
.idea/

ui/__pycache__/

ui/modules/

ui/qml/__pycache__/

ui/resources/out/

ui/resources/tmp/

*.zip

ui/venv/

ui/main.build/

ui/BrickTutorialCreator.dist/

ui/BrickTutorialCreator.build/

*.bin

*.gz

.DS_Store

ui/ui.pyproject.user
