
.idea/

ui/resources/out/

ui/resources/tmp/

*.zip

*/venv/

*/main.build/

*/BrickTutorialCreator.dist

*/BrickTutorialCreator.build

*.bin

*.gz

.DS_Store

*ui.pyproject.user

venv/

*__pycache__

ui/.vs/

ui/.vscode/

ui/BrickTutorialCreator/

**/.qtcreator